/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main-nav {
    display: none;
  }
  .menu-btn {
    display: flex;
    flex-direction: column;
  }
  .box-container {
    .box {
      flex-basis: 20%;
    }
  }

  .img-container {
    margin: 0;
    background: none;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .img-box {
      display: block;
      height: 400px;
    }

    .img-description {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: static;
      text-align: center;
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }

  // subpages
  .contact-banner {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    .banner-content {
      position: static;

      width: 450px;
      height: 450px;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .site-banner {
    .banner-content {
      position: static;
    }
  }

  // box container
  .box-container {
    margin-bottom: 2em;
    height: 100%;
    .box {
      text-align: center;
      flex-basis: 100%;
    }
  }

  // subpages
  .about-banner {
    flex-direction: column;
    height: 100%;
    .about-img {
      width: 100%;
      height: 445px;
    }
    .banner-content {
      height: 50%;
      width: 100%;
      //   flex-direction: row;
      h1 {
        font-size: 3em;
        text-align: center;
        margin-bottom: 0;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .site-wrapper {
    width: 100%;
  }

  .main-header {
    margin-top: 0;
  }

  .site-banner {
    .banner-content {
      position: static;
    }
  }

  .main-intro {
    margin-top: 0;
  }

  .social-links {
    display: none;
  }

  .full-container {
    .cover-text {
      flex-direction: column;
    }
  }

  .main-footer {
    flex-direction: column;
  }

  // components
  .btn {
    font-size: 1em;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 500px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
