// about banner
.about-banner {
  justify-content: center;
  align-items: center;
  height: 75%;
  //   width: 100%;

  .about-img {
    height: 100%;
    width: 60%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url("../img/about-banner.jpg") no-repeat center;
    background-size: cover;
  }

  .banner-content {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    width: 40%;
    height: 100%;
    color: $white-text;
    h1 {
      font-size: 3em;
      text-align: center;
    }
    h2 {
      font-size: 2em;
      text-align: center;
    }
  }
}

// contact banner
.contact-banner {
  position: relative;
  height: 75%;
  width: 80%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../img/contact-banner.jpg") no-repeat center;
  background-size: cover;
  float: right;
  margin-bottom: 2em;
  .banner-content {
    position: absolute;
    left: -25%;
    top: 20%;
    background: rgba(0, 0, 0, 0.9);
    width: 50%;
    height: 60%;
    color: $white-text;
    text-align: left;
    h1 {
      font-size: 3em;
      text-align: center;
    }
    h2 {
      font-size: 2em;
      text-align: center;
    }
  }
}
